.App {
  background: rgb(40,44,52);
  background: linear-gradient(180deg, rgba(40,44,52,1) 0%, rgba(40,44,52,1) 0%, rgba(104,0,255,1) 100%);
}

.App-header {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  font-size: 28px;
  background:#fff;
}

.App-logo {
  margin-right: -8px;
  padding-top: 10px;
  color: rgb(40,44,52);
}

.App-wrapper {
  padding: 12px;
  height: 100vh;
  color: #fff;
}
